@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
}

.nav-icon {
  color: #5a698f;
  transition: all 300ms;
}

.nav-link.active {
  pointer-events: none;
}

.nav-link:hover .nav-icon {
  color: #fc4747;
  scale: 1.05;
}

.nav-link.active .nav-icon {
  color: #ffffff;
}

.no-scrollbar {
  scrollbar-width: none; /* Hides scrollbar in Firefox */
  -ms-overflow-style: none; /* Hides scrollbar in IE */
  overflow-y: auto; /* Allows vertical scrolling */
  -webkit-overflow-scrolling: touch; /* Ensures smooth scrolling on touch devices */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hides scrollbar in WebKit browsers */
}
