// Desktop First
.header {
  padding-block: 1.75rem 2.125rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: inherit;
  background-color: $clr-neutral-100;
  z-index: 2000;

  &::after {
    content: '';
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: min(100%, 1100px);
    margin-inline: auto;
    height: 1px;
    background-color: $clr-neutral-250;
  }
}

.header .wrapper {
  @include flex(row, space-between);
  position: relative;
}

.header-left {
  @include flex(row, flex-start, center);
  gap: 3.5rem;
}

.header-right {
  @include flex(row, flex-start, center);
  gap: 2.875rem;
}

.nav {
  @include flex();
  gap: 2rem;
  z-index: 3000;
}

.nav__link {
  font-size: $fs-200;
  font-weight: $fw-400;
  color: $clr-neutral-400;
}

.logo {
  max-width: 8.625rem;
}

.cart-btn {
  max-width: 1.375rem;
}

.user-btn {
  max-width: 3.125rem;
  border-radius: 50%;
  overflow: hidden;
  outline: 2px solid transparent;
  transition: outline-color 400ms;

  &:focus-visible {
    outline: 5px auto -webkit-focus-ring-color;
  }
}

.mobile-nav-btn {
  display: none;
}

// Mobile
@media (width <= $bp-md) {
  .header {
    padding-block: 1.1875rem 1.5rem;
  }

  .header-right {
    gap: 1.5rem;
  }

  .logo {
    margin-inline-start: 2rem;
  }

  .user-btn {
    max-width: 2.125rem;
  }

  .mobile-nav-btn {
    display: block;
    position: absolute;
    width: 1rem;
    aspect-ratio: 1;
    top: 50%;
    transform: translateY(-35%);
    background-image: url('../assets/images/icon-menu.svg');
    background-repeat: no-repeat;
    z-index: 4000;
  }

  .mobile-nav-btn[aria-expanded='true'] {
    background-image: url('../assets/images/icon-close.svg');
  }

  .nav {
    position: fixed;
    flex-direction: column;
    padding: 5.75rem 1.5rem;
    inset: 0 0 0 -100%;
    width: 50%;
    max-width: 250px;
    background-color: $clr-neutral-100;
    transition: inset 300ms ease-out;
  }

  .nav[data-visible='true'] {
    inset: 0 0 0 0;
    gap: 1.25rem;
    z-index: 3500;
  }

  .nav__link {
    font-size: $fs-500;
    font-weight: $fw-700;
    color: $clr-neutral-700;
  }
}

@media (width <= $bp-sm) {
  .user-btn {
    max-width: 1.5rem;
  }
}

@media (width <= $bp-lg) {
  .nav {
    gap: 1.25rem;
  }

  .header-left {
    gap: 2.5rem;
  }
}

@media (hover: hover) {
  .user-btn:hover {
    outline-color: $clr-primary-400;
  }
}

@media (hover: hover) and (width >= $bp-md) {
  .nav__link:hover {
    color: $clr-neutral-700;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -3.2rem;
      height: 4px;
      width: 100%;
      background-color: $clr-primary-400;
    }
  }
}
