*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
button {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}
