@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NunitoSans';
  src: url('/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf')
    format('truetype');
}

* {
  transition:
    background-color 500ms,
    color-scheme 500ms;

  color-scheme: light;

  &.dark {
    color-scheme: dark;
  }
}

body {
  overflow-y: scroll;
}
