@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-weight: 700;
  src:
    local('Atkinson Hyperlegible'),
    url('/AtkinsonHyperlegible-Bold.woff2') format('woff2'),
    url('/AtkinsonHyperlegible-Bold.woff') format('woff');
}
