// Layout
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

// Colors
$clr-primary-400: hsl(35, 77%, 62%); // Soft orange
$clr-primary-500: hsl(5, 85%, 63%); // Soft red

$clr-netural-200: hsl(36, 100%, 99%); // Off-white
$clr-netural-300: hsl(233, 8%, 79%); // Grayish blue
$clr-netural-400: hsl(236, 13%, 42%); // Dark grayish blue
$clr-netural-700: hsl(240, 100%, 5%); // Very dark blue

// Typography
@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
  font-weight: 100 900;
  font-style: none;
}

$ff-primary: 'Inter', sans-serif;

$fw-400: 400;
$fw-700: 700;
$fw-800: 800;

$fs-900: clamp(2.5rem, 1.939vw + 2.045rem, 3.5rem); // Heading XL
$fs-800: clamp(2rem, 0.97vw + 1.773rem, 2.5rem); // Heading L
$fs-700: 2rem; // Heading M
$fs-600: 1.25rem; // Heading S
$fs-500: 1.125rem; // Heading XS
$fs-400: 0.9375rem; // Body
$fs-300: 0.875rem; // Button
