*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
p,
button {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  background-color: inherit;
  color: inherit;
  border: none;
  line-height: inherit;
  cursor: pointer;
}

label {
  display: block;
}

input:focus {
  outline: none;
}

@font-face {
  font-family: "Space Mono";
  font-weight: 700;
  src: local("Space Mono"), url("../assets/fonts/SpaceMono-Bold.woff2") format("woff2"), url("../assets/fonts/SpaceMono-Bold.woff") format("woff");
}
body {
  font-family: "Space Mono", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
  background-color: hsl(185, 41%, 84%);
  display: grid;
  min-height: 100vh;
  align-items: center;
}

.wrapper {
  width: min(100%, 600px);
  margin-inline: auto;
}

.grid {
  display: grid;
}

.calculator__logo {
  margin-inline: auto;
  padding-block: 2.5rem;
}

.calculator__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 2rem;
  padding: 2rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.9rem;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
}

.inputs > *:not(:last-child) {
  margin-block-end: 2rem;
}

.label {
  color: hsl(186, 14%, 43%);
  font-size: 1rem;
}

.input-group input {
  background-color: hsl(189, 41%, 97%);
  background-repeat: no-repeat;
  background-position: left 5% center;
  width: 100%;
  border-radius: 0.4rem;
  text-align: right;
  padding: 0.4rem 1rem;
  color: hsl(183, 100%, 15%);
}

input::-moz-placeholder {
  color: hsl(184, 14%, 56%);
}

input::placeholder {
  color: hsl(184, 14%, 56%);
}
input:focus {
  outline: 2px solid hsl(183, 100%, 15%);
}

input#bill {
  background-image: url("../assets/images/icon-dollar.svg");
}

input#people {
  background-image: url("../assets/images/icon-person.svg");
}

.tip-options .grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.tip-options .label {
  margin-block-end: 1rem;
}

.btn {
  padding-block: 0.75rem;
  border-radius: 0.4rem;
}

.tip-option {
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
}

.tip-option--active {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.tip-option-custom {
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  text-align: right;
  width: 100%;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 2rem;
  background-color: hsl(183, 100%, 15%);
  border-radius: 0.9rem;
  padding: 2.25rem 1.5rem 1.5rem 1.5rem;
}
.results__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1.25rem;
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.result p:first-child {
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
}
.result span {
  font-size: 0.8125rem;
  color: hsl(184, 14%, 56%);
  display: block;
}

.tip-amount,
.total-amount {
  font-size: clamp(2rem, 2.465vw + 1.422rem, 3rem);
  color: hsl(172, 67%, 45%);
}

.reset {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  text-transform: uppercase;
  font-size: 1.25rem;
  opacity: 0.25;
  cursor: unset;
}

.reset--active {
  opacity: 1;
  cursor: pointer;
}

.validation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  margin-block-end: 0.4rem;
  font-size: 1rem;
}

.error-message {
  color: #e17457;
}

input.success {
  outline: 2px solid #26c2ae;
}

input.error {
  outline: 2px solid #e17457;
}

.hidden {
  display: none;
}

@media screen and (width >= 708px) {
  .wrapper {
    width: min(90%, 920px);
  }
  .calculator__content {
    flex-direction: row;
    gap: 3rem;
    padding: 2rem 2rem 2rem 3rem;
  }
  .inputs {
    flex: 1;
    padding-block: 1rem;
  }
  .results {
    justify-content: space-between;
    padding: 2.5rem;
    width: 50%;
  }
  .results__content {
    gap: 2.5rem;
  }
  .inputs > *:not(:last-child) {
    margin-block-end: 2.5rem;
  }
}
@media screen and (width >= 1024px) {
  .tip-options .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (hover: hover) {
  .tip-option:hover {
    transition: color 0.2s ease-out, background-color 0.3s ease-out;
    background-color: #9fe8df;
    color: hsl(183, 100%, 15%);
  }
  .reset--active:hover {
    transition: color 0.2s ease-out, background-color 0.3s ease-out;
    background-color: #9fe8df;
  }
}/*# sourceMappingURL=main.css.map */