*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
p,
button,
ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "Manrope";
  font-weight: 500;
  src: local("Manrope"), url("../assets/fonts/Manrope-Medium.woff2") format("woff2"), url("../assets/fonts/Manrope-Medium.woff") format("woff");
}
@font-face {
  font-family: "Manrope";
  font-weight: 700;
  src: local("Manrope"), url("../assets/fonts/Manrope-Bold.woff2") format("woff2"), url("../assets/fonts/Manrope-Bold.woff") format("woff");
}
body {
  min-height: 100dvh;
  display: grid;
  place-content: center;
  background-color: hsl(210, 46%, 95%);
  font-family: "Manrope", sans-serif;
  font-size: 0.813rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.wrapper {
  width: min(90%, 327px);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.card {
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  flex-direction: column;
  position: relative;
}

.card__img-wrapper {
  height: 200px;
}

.card__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__content {
  padding: 2.25rem 2rem 1.25rem 2rem;
  position: relative;
}

.card__title {
  color: hsl(217, 19%, 35%);
  font-size: clamp(1rem, 0.376vw + 0.912rem, 1.25rem);
  line-height: clamp(1.5rem, 0.376vw + 1.412rem, 1.75rem);
  margin-block-end: 0.75rem;
}

.card__description {
  color: hsl(214, 17%, 51%);
  margin-block-end: 2rem;
}

.card__publish-wrapper {
  align-items: center;
  justify-content: space-between;
}

.card__publish {
  gap: 1rem;
}

.card__publish-img {
  width: 40px;
  border-radius: 50%;
}

.card__publish-author {
  font-weight: 700;
  color: hsl(217, 19%, 35%);
}

.card__publish-date {
  color: hsl(212, 23%, 69%);
}

.card__publish-btn {
  background-color: hsl(210, 46%, 95%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__publish--active {
  background-color: hsl(217, 19%, 35%);
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.25rem 2rem;
}

.card__publish--active .card__publish-btn {
  background-color: hsl(214, 17%, 51%);
}
.card__publish--active .card__publish-btn svg path {
  fill: #ffffff;
}

.card__publish-socials {
  align-items: center;
  gap: 1rem;
}

.card__publish-socials p {
  color: hsl(212, 23%, 69%);
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s;
}

@media (width >= 1024px) {
  .card {
    flex-direction: row;
    overflow: visible;
  }
  .wrapper {
    width: min(90%, 730px);
  }
  .card__img-wrapper {
    height: auto;
    flex: 1;
  }
  .card__img {
    height: 100%;
    -o-object-position: left;
       object-position: left;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .card__content {
    width: 60%;
    padding: 2rem 2.5rem;
    position: relative;
  }
  .card__description {
    margin-block-end: 1.25rem;
  }
  .card__publish--active {
    padding: 1rem 2.25rem;
    left: 59%;
    bottom: 35%;
    width: -moz-max-content;
    width: max-content;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  }
  .card__publish-socials {
    gap: 0.9rem;
  }
  .card__publish--active .card__publish-btn {
    display: none;
  }
  .triangle {
    position: absolute;
    top: 99%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid hsl(217, 19%, 35%);
  }
}/*# sourceMappingURL=main.css.map */