*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
p,
button {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  background-color: inherit;
  color: inherit;
  border: none;
  line-height: inherit;
  cursor: pointer;
}

input:focus {
  outline: none;
}

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  src: local("Rubik"), url("../assets/fonts/Rubik-Regular.woff2") format("woff2"), url("../assets/fonts/Rubik-Regular.woff") format("woff");
}
@font-face {
  font-family: "Rubik";
  font-weight: 500;
  src: local("Rubik"), url("../assets/fonts/Rubik-Medium.woff2") format("woff2"), url("../assets/fonts/Rubik-Medium.woff") format("woff");
}
@font-face {
  font-family: "Rubik";
  font-style: italic;
  src: local("Rubik"), url("../assets/fonts/Rubik-Italic.woff2") format("woff2"), url("../assets/fonts/Rubik-Italic.woff") format("woff");
}
.header {
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
}
.header__left {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.header__right {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.theme-icon {
  max-width: 1rem;
  max-height: 1rem;
}

@media screen and (width >= 768px) {
  .header {
    padding-block: 2.75rem;
  }
  .header__right {
    gap: 1rem;
  }
  .theme-icon {
    max-width: 1.5rem;
    max-height: 1.5rem;
  }
}
@media screen and (width >= 1024px) {
  .header {
    padding-block: 5rem;
  }
}
.toggle-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: stretch;
}

.toggle {
  position: relative;
  background: #a729f5;
  width: 2rem;
  height: 1.25rem;
  border-radius: 2rem;
  cursor: pointer;
}

.toggle::before {
  content: "";
  position: absolute;
  background: #ffffff;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  left: 10%;
  top: 50%;
  transform: translate(0, -50%);
  transition: transform 0.25s linear, left 0.25s linear;
}

#theme:checked + .toggle::before {
  transform: translate(1.25rem, -50%);
  left: -10%;
}

#theme {
  display: none;
}

@media screen and (width >= 768px) {
  .toggle {
    width: 3rem;
    height: 1.75rem;
  }
  .toggle::before {
    width: 1.25rem;
    height: 1.25rem;
  }
  #theme:checked + .toggle::before {
    transform: translate(1.75rem, -50%);
  }
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: flex-start;
  align-items: stretch;
}
.menu__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  align-items: stretch;
}
.menu__title {
  font-size: clamp(2.5rem, 6.107vw + 1.069rem, 4rem);
  font-weight: 400;
  max-width: 12ch;
}
.menu__title span {
  font-weight: 500;
}
.menu__subtitle {
  font-size: clamp(0.875rem, 1.527vw + 0.517rem, 1.25rem);
  font-style: italic;
  color: var(--color-accent);
}
.menu__subjects {
  display: grid;
  gap: 0.75rem;
}
.menu__subject {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  padding: 0.75rem;
  background-color: var(--color-secondary-bg);
  border-radius: var(--border-radius-bar);
  box-shadow: var(--box-shadow);
}

@media screen and (width >= 768px) {
  .menu {
    gap: 4rem;
  }
  .menu__subjects {
    gap: 1.5rem;
  }
  .menu__subject {
    padding: 1.25rem;
    gap: 2rem;
  }
}
@media screen and (width >= 1024px) {
  .menu {
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    align-items: stretch;
  }
  .menu__info {
    gap: 3rem;
  }
  .menu__subjects {
    width: 45%;
  }
}
@media (hover: hover) {
  .menu__subject:hover,
  .menu__subject:focus {
    outline: 0.2rem solid #a729f5;
  }
}
.quiz {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: flex-start;
  align-items: stretch;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.question__counter {
  font-size: clamp(0.875rem, 1.527vw + 0.517rem, 1.25rem);
  color: var(--color-accent);
  font-style: italic;
}
.question__title {
  font-size: clamp(1.25rem, 4.071vw + 0.296rem, 2.25rem);
  font-weight: 500;
  margin-block-start: 0.75rem;
  line-height: 1.2;
}
.question__progress {
  margin-block-start: 1.5rem;
}

.answer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  justify-content: flex-start;
  align-items: stretch;
  padding-block-end: 1rem;
  position: relative;
}
.answer__item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  padding: 0.75rem;
  background: var(--color-secondary-bg);
  border-radius: var(--border-radius-bar);
  font-size: clamp(1.125rem, 2.545vw + 0.529rem, 1.75rem);
  box-shadow: var(--box-shadow);
  position: relative;
}
.answer__choice {
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border-radius: var(--border-radius-tiles);
  color: #626c7f;
  background: #f4f6fa;
  min-width: 2.5rem;
  height: 2.5rem;
}
.answer__content {
  font-weight: 500;
  text-align: left;
  line-height: 1.2;
  padding-inline-end: 10%;
}
.answer__icon {
  position: absolute;
  right: 3%;
}

.error-message {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}
.error-message p {
  font-size: clamp(1.125rem, 2.545vw + 0.529rem, 1.75rem);
  color: #ee5454;
}
.error-message svg {
  width: 2rem;
  height: 2rem;
}

.correct {
  outline: 0.2rem solid #26d782;
}
.correct .answer__choice {
  background: #26d782;
  color: #ffffff;
}

.incorrect {
  outline: 0.2rem solid #ee5454;
}
.incorrect .answer__choice {
  background: #ee5454;
  color: #ffffff;
}

@media screen and (width >= 768px) {
  .quiz {
    gap: 4rem;
  }
  .question__title {
    margin-block-start: 1.5rem;
  }
  .question__progress {
    margin-block-start: 2.5rem;
  }
  .answer {
    gap: 1.5rem;
    padding-block-end: 2rem;
  }
  .answer__item {
    gap: 2rem;
  }
  .answer__choice {
    min-width: 3.5rem;
    height: 3.5rem;
  }
}
.error-message svg {
  width: 2.5rem;
  height: 2.5rem;
}

.answer--active {
  outline: 0.2rem solid #a729f5;
}
.answer--active .answer__choice {
  background: #a729f5;
  color: #ffffff;
}

@media screen and (width >= 1024px) {
  .quiz {
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    align-items: stretch;
  }
  .question {
    width: 40%;
  }
  .question__progress {
    margin-block-start: 10rem;
  }
  .answer {
    width: 50%;
  }
  .answer__item {
    padding: 1.125rem;
  }
}
@media (hover: hover) {
  .answer__item:not(.answer--active):hover,
  .answer__item:not(.answer--active):focus {
    outline: none;
  }
  .answer__item:not(.answer--active):hover .answer__choice,
  .answer__item:not(.answer--active):focus .answer__choice {
    color: #a729f5;
    background-color: #f6e7ff;
  }
}
progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  height: 1rem;
  border-radius: 1rem;
  background: var(--color-secondary-bg);
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

progress[value]::-webkit-progress-bar {
  border-radius: 1rem;
  background: var(--color-secondary-bg);
  position: absolute;
  width: calc(100% - 0.5rem);
  height: 50%;
  left: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
}

progress[value]::-webkit-progress-value {
  border-radius: 1rem;
  background: #a729f5;
}

progress[value]::-moz-progress-bar {
  border-radius: 1rem;
  background: #a729f5;
  position: absolute;
  width: calc(100% - 0.5rem);
  height: 50%;
  left: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
}

.result {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: flex-start;
  align-items: stretch;
}
.result__title {
  font-size: clamp(2.5rem, 6.107vw + 1.069rem, 4rem);
  font-weight: 400;
  max-width: 12ch;
}
.result__title span {
  font-weight: 500;
}
.result__wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  justify-content: flex-start;
  align-items: stretch;
}
.result__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: var(--color-secondary-bg);
  border-radius: var(--border-radius-bar);
  box-shadow: var(--box-shadow);
}
.result__subject {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.result__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.result__score {
  font-size: clamp(5.5rem, 14.249vw + 2.16rem, 9rem);
  font-weight: 500;
}
.result__description {
  font-size: clamp(1.125rem, 1.527vw + 0.767rem, 1.5rem);
  color: var(--color-accent);
}

@media screen and (width >= 768px) {
  .result__title {
    gap: 4rem;
  }
  .result__wrapper {
    gap: 2rem;
  }
  .result__subject {
    gap: 1.5rem;
  }
  .result__content {
    padding: 3rem;
    gap: 2.5rem;
  }
}
@media screen and (width >= 1024px) {
  .result {
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    align-items: stretch;
  }
  .result__title {
    width: 45%;
  }
  .result__wrapper {
    width: 50%;
  }
}
html {
  --border-radius-tiles: 0.375rem;
  --border-radius-bar: 0.75rem;
}

html[data-theme=light] {
  --color-text: #313e51;
  --color-primary-bg: #f4f6fa;
  --color-secondary-bg: #ffffff;
  --color-accent: #626c7f;
  --box-shadow: 0 16px 40px rgba(143, 160, 193, 0.14);
  --background-mobile: url(../assets/images/pattern-background-mobile-light.svg);
  --background-tablet: url(../assets/images/pattern-background-tablet-light.svg);
  --background-desktop: url(../assets/images/pattern-background-desktop-light.svg);
}

html[data-theme=dark] {
  --color-text: #ffffff;
  --color-primary-bg: #313e51;
  --color-secondary-bg: #3b4d66;
  --color-accent: #abc1e1;
  --box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  --background-mobile: url(../assets/images/pattern-background-mobile-dark.svg);
  --background-tablet: url(../assets/images/pattern-background-tablet-dark.svg);
  --background-desktop: url(../assets/images/pattern-background-desktop-dark.svg);
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--color-text);
  line-height: 1;
  background-color: var(--color-primary-bg);
}

.background {
  background-image: var(--background-mobile);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main {
  padding-block: 2rem;
}

.hide {
  opacity: 0;
}

.hidden {
  display: none;
}

.visually-hidden {
  visibility: hidden;
}

.pointer-events-disabled {
  pointer-events: none;
}

.html {
  background-color: #fff1e9;
}

.css {
  background-color: #e0fdef;
}

.javascript {
  background-color: #ebf0ff;
}

.accessibility {
  background-color: #f6e7ff;
}

.app {
  width: min(87%, 1157px);
  margin-inline: auto;
  min-height: 100dvh;
}

.btn {
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #ffffff;
  background: #a729f5;
  font-weight: 500;
  font-size: clamp(1.125rem, 2.545vw + 0.529rem, 1.75rem);
  border-radius: var(--border-radius-bar);
  box-shadow: 0 16px 40px rgba(143, 160, 193, 0.14);
  padding-block: 1.25rem;
}

.subject-icon {
  box-sizing: content-box;
  max-width: 1.75rem;
  max-height: 1.75rem;
  padding: 0.375rem;
  border-radius: var(--border-radius-tiles);
}

.subject-name {
  font-size: clamp(1.125rem, 2.545vw + 0.529rem, 1.75rem);
  font-weight: 500;
}

@media screen and (width >= 768px) {
  html {
    --border-radius-tiles: 0.75rem;
    --border-radius-bar: 1.5rem;
  }
  .background {
    background-image: var(--background-tablet);
    background-repeat: no-repeat;
  }
  main {
    padding-block: 1.25rem;
  }
  .subject-icon {
    max-width: 2.5rem;
    max-height: 2.5rem;
    padding: 0.5rem;
  }
  .btn {
    padding-block: 2rem;
  }
}
@media screen and (width >= 1024px) {
  .background {
    background-image: var(--background-desktop);
  }
  main {
    padding-block: 0rem;
  }
}
@media (hover: hover) {
  .btn:hover,
  .btn:focus {
    background: #e1b0fd;
    outline: none;
  }
}/*# sourceMappingURL=main.css.map */