@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HankenGrotesk';
  src: url('HankenGrotesk-VariableFont_wght.ttf');
}

:root {
  font-family: 'HankenGrotesk', sans-serif;
}
